<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>IPL Auction 2025</title>
</head>
<body>
<header th:insert="layout :: header"></header>

<div class="hero">  <!-- This should point to the correct layout file -->

    <h2>Welcome to the IPL Player Auction!</h2>

</div>

<footer th:insert="layout :: footer"></footer>

</body>
</html>
